{% extends "base.html" %}

{% block page_title %}About PDF Inspector{% endblock %}

{% block content %}
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ornare risus nec neque pellentesque mollis vel a mi. Nulla elit lacus, commodo sit amet rhoncus non, pharetra sit amet turpis. Aliquam pulvinar ultricies leo et placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a ipsum quis leo laoreet imperdiet. Integer sodales felis sed sapien pretium vel gravida sem sollicitudin. Fusce massa mauris, ullamcorper id consequat id, volutpat at libero. Phasellus eu tincidunt nisi. Proin pulvinar ultrices orci eget bibendum. Ut malesuada nisl vel elit volutpat malesuada. Curabitur massa nisl, pretium ac pellentesque sed, sodales vitae odio. Phasellus volutpat vehicula leo, et posuere enim imperdiet a.
</p>
<p>
Donec nec urna non nunc pellentesque venenatis in ut nibh. Nam ut lacus urna, nec commodo ante. Maecenas tempor sodales purus, sit amet ultrices neque porta id. Cras elit tortor, interdum in aliquam in, aliquam et neque. Morbi interdum ligula id nisi venenatis lobortis. Donec at turpis erat, viverra dapibus neque. Cras rutrum est nec erat vulputate ornare. Sed sed mauris sit amet mi pretium bibendum id eget ligula. Etiam et neque libero, ut convallis orci. Proin eget velit nunc. Sed porttitor elementum massa, ut commodo leo pulvinar eget. Vestibulum quis ante at mi feugiat mollis. Proin pharetra eros eu odio adipiscing dignissim. Curabitur vehicula neque venenatis neque ultrices tempor. In sed vulputate elit.
</p>
{% endblock %}
{% block public_content %}
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ornare risus nec neque pellentesque mollis vel a mi. Nulla elit lacus, commodo sit amet rhoncus non, pharetra sit amet turpis. Aliquam pulvinar ultricies leo et placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a ipsum quis leo laoreet imperdiet. Integer sodales felis sed sapien pretium vel gravida sem sollicitudin. Fusce massa mauris, ullamcorper id consequat id, volutpat at libero. Phasellus eu tincidunt nisi. Proin pulvinar ultrices orci eget bibendum. Ut malesuada nisl vel elit volutpat malesuada. Curabitur massa nisl, pretium ac pellentesque sed, sodales vitae odio. Phasellus volutpat vehicula leo, et posuere enim imperdiet a.
</p>
<p>
Donec nec urna non nunc pellentesque venenatis in ut nibh. Nam ut lacus urna, nec commodo ante. Maecenas tempor sodales purus, sit amet ultrices neque porta id. Cras elit tortor, interdum in aliquam in, aliquam et neque. Morbi interdum ligula id nisi venenatis lobortis. Donec at turpis erat, viverra dapibus neque. Cras rutrum est nec erat vulputate ornare. Sed sed mauris sit amet mi pretium bibendum id eget ligula. Etiam et neque libero, ut convallis orci. Proin eget velit nunc. Sed porttitor elementum massa, ut commodo leo pulvinar eget. Vestibulum quis ante at mi feugiat mollis. Proin pharetra eros eu odio adipiscing dignissim. Curabitur vehicula neque venenatis neque ultrices tempor. In sed vulputate elit.
</p>
{% endblock %}
