{% extends "base.html" %}

{% block head %}
<style type="text/css">
table.report_history{
	border: 1px solid black;
	border-spacing: 0;
	border-collapse: collapse;
}

table.report_history caption{
	font-weight: bold;
	padding-bottom: 5px;
}

table.report_history td, table.report_history th{
	text-align: center;
	vertical-align: middle;
	margin: 0;
	border: 1px solid black;
	padding: 5px 10px;
}
</style>
{% endblock head %}
{% block page_title %}{{ user.username }}'s Reports{% endblock %}

{% block content %}
<p>Click <a href="/run_inspector/">here</a> to upload a pdf.</p>

<table class="report_history" summary="Summary of reports">
<caption>Report History</caption>
    <tr>
      <th>
        File Name
      </td>
      <th>
        Uploaded Date
      </td>
    </tr>
{% for report in reports %}
    <tr>
      <td>
        <a href='../pdf/report/{{ report.id }}/'>{{ report.file_name }}</a>
      </td>
      <td>
        {{ report.datestamp }}
      </td>
    </tr>

{% endfor %}
</table>

{% endblock %}
