{% extends "base.html" %}


{% block page_title %}Report {% endblock page_title %}
{% ifequal report.private "False" %}
{% if user.is_authenticated %}
{% block sidebar %}
   <div id="tagcount_sect">
      <table class="tagcount" summary="Summary of tag count in PDF file">
      <caption>Tag Count</count>
      <tr>
         <td>Sect</td>
         <td>{{ report.sect }}</td>
      </tr>
      <tr>
         <td>h1</td>
         <td>{{ report.h1 }}</td>
      </tr>
      <tr>
         <td>h2</td>
         <td>{{ report.h2 }}</td>
      </tr>
      <tr>
         <td>h3</td>
         <td>{{ report.h3 }}</td>
      </tr>
      <tr>
         <td>h4</td>
         <td>{{ report.h4 }}</td>
      </tr>
      <tr>
         <td>h5</td>
         <td>{{ report.h5 }}</td>
      </tr>
      <tr>
         <td>h6</td>
         <td>{{ report.h6 }}</td>
      </tr>
      <tr>
         <td>p</td>
         <td>{{ report.p }}</td>
      </tr>
      <tr>
         <td>caption</td>
         <td>{{ report.caption }}</td>
      </tr>
      <tr>
         <td>table</td>
         <td>{{ report.table }}</td>
      </tr>
      <tr>
         <td>l</td>
         <td>{{ report.l }}</td>
      </tr>
      <tr>
         <td>form</td>
         <td>{{ report.form }}</td>
      </tr>
      <tr>
         <td>bookmark</td>
         <td>{{ report.bookmark }}</td>
      </tr>
      
   </div> <!-- end tagcount_sect -->
      
{% endblock sidebar %}
{% endif %}

{% block content %}
   <p class="meta">
      <span class="filename">{{ report.file_name }}</span> |
      <span class="date">{{ report.datestamp }}</span> |
      <span class="ruleset">Default Ruleset</span> |
      <span class="xml"><a href="xml/">See XML File</a></span>
   </p>
   
   <div id="results">
      <h3>Evaluation Results </h3>
      
      <h4>Headings and Label </h4>
	  <ul>
	  {% for rule, result in rules_and_results %}
	  <li>{{ rule.title }}  
		<ul><li>{{ result }}</li></ul>
	  </li>

	  {% endfor %}
      </ul>
               
   </div> <!-- end results -->
{% endblock content %}

{% else %}
{% block public_content %}
   <p class="meta">
      <span class="filename">{{ report.file_name }}</span> |
      <span class="date">{{ report.datestamp }}</span> |
      <span class="ruleset">Default Ruleset</span> |
      <span class="xml"><a href="xml/">See XML File</a></span>
   </p>
   
   <div id="results">
      <h3>Evaluation Results </h3>
      
      <h4>Headings and Label </h4>
	  <ul>
	  {% for rule, result in rules_and_results %}
	  <li>{{ rule.title }}  
		<ul><li>{{ result }}</li></ul>
	  </li>

	  {% endfor %}
      </ul>
               
   </div> <!-- end results -->
{% endblock public_content %}
{% endifequal %}
