{% extends "base_2col.html" %}


{% block page_title %}Summary Report {% endblock page_title %}
{% block sidebar %}
   <ul>
      <li><a href="/{{user.username}}/reports/">All Reports</a></li>
      <li><a href="/{{user.username}}/reports/{{report.id}}/summary/">Summary</ah></li>
      <li><a href="/{{user.username}}/reports/{{report.id}}/report/">Report</a></li>
   </ul>
      
{% endblock sidebar %}
{% block main_content %}
   <p class="meta">
      <span class="filename">{{ report.file_name }}</span> |
      <span class="date">{{ report.datestamp }}</span> |
      <span class="ruleset">Default Ruleset</span> |
      <span class="xml"><a href="#">See XML File</a></span>
   </p>
   
   <div id="results">
      <h3>Evaluation Results </h3>
      
      <h4>Headings and Label </h4>
      <ul>
         <li> Descriptive Headings </li>
            <ul>
               <li class="fail">[Fail] 3/5 Headings have content </li>
            </ul>
         <li> Use unique section headings </li>
            <ul>
               <li class="pass">[Pass] 5/5 Headings have content </li>
            </ul>
         </li>
      </ul>
               
   </div> <!-- end results -->
{% endblock main_content %}

