{% extends 'base.html' %}
{% block text %}
The PDF Accessibility Inspector is a project of the Disability Resources &amp; Educational Services at the University of Illinois, Urbana-Champaign.
<br>
Below is a list of all the rules that are presently being run by the evaluation tool.
<br>

<table class = "fancy">
<tr>
  <th colspan="2" class="even">Rule 1: blah blah blah</th>
</tr>
<tr>
  <td>Title</td>
  <td>Description</td>
</tr>
<tr class="even">
  <td>Severity</td>
  <td>Description</td>
</tr>
<tr>
  <td>WCAG ID</td>
  <td>Description</td>
</tr>
</table>

<table class = "fancy">
<tr>
  <th colspan="2" class="even">Rule 1: blah blah blah</th>
</tr>
<tr>
  <td>Title</td>
  <td>Description</td>
</tr>
<tr class="even">
  <td>Severity</td>
  <td>Description</td>
</tr>
<tr>
  <td>WCAG ID</td>
  <td>Description</td>
</tr>
</table>
{% endblock %}
