{% extends 'base.html' %}

{% block title %}
About - PDF Accessibility Inspector
{% endblock %}

{% block text %} <h1>About</h1>
<p>
	The PDF Accessibility Inspector is a project of the Disability Resources &amp; Educational Services at the University of Illinois, Urbana-Champaign.
</p>
<p>
	This project is focused on raising attention about inaccessible PDF documents
</p>
<h2>Rules Run By The Evaluator</h2>
{%if rules%}
{%for category in rules%}
<h3>{{category.0}}</h3>
<table class="about">
	{%for rule in category.1%}
	<tr>
		<th colspan="2" style="font-weight: bold;line-height: 3em;">Rule {{forloop.counter}}: {{rule.title}}</th>
	</tr>
	<tr>
		<th> Description </th>
		<td> {{rule.description}} </td>
	</tr>
	<tr class = "even">
		<th> Severity </th>
		<td> {%if rule.severity == 2%}Violation{%else%}{%if rule.severity == 3%}Manual Inspection{%else%}Warning{%endif%}{%endif%} </td>
	</tr>
	<tr>
		<th> WCAG ID </th>
		<td> {{rule.wcag_id}} </td>
	</tr>
	<tr class = "even">
		<th> Condition </th>
		<td> {{rule.Condition}} </td>
	</tr>
	{%endfor%}
</table>
{%endfor%}
{%else%}
{{message}}
{%endif%}
{%endblock%}
