{% extends 'base.html' %}

{% block title %}

Contact - PDF Accessibility Inspector

{% endblock %}

{% block text %}

<h1>Contact</h1>

<p>
This project is run and administered by the division for Disability Resources &amp; Education Services at the University of Illinois, Urbana-Champaign.
</p>

<h2>Feature Requests &amp; Bug-Tracking</h2>


<p>
<a href = "https://github.com/pdfae/PDFAInspector/issues">Please report any issues to our Github project.</a>
</p>

<h2>Leave Us A Message</h2>

<form action="/contact/" method="post">{% csrf_token %}
<table>
    	{{form.as_table}}
</table>
<input type="submit" value="Submit" />
</form>

{% endblock %}
