{% extends 'defaults/default_base.html' %}
{% block text %}

<br><br>
This project is run and administered by the division for Disability Resources & Education Services at the University of Illinois, Urbana-Champaign.<br>
<br>
Presently, feature requests and bug-fix information can be posted and tracked on:<br>
<br>

<a href = "https://github.com/klange/PDFAInspector/issues">https://github.com/klange/PDFAInspector/issues</a>

<br>
<br>

Please leave us a note on the above page, and one of the developers will get back to you shortly.<br>


{% endblock %}
