{% extends 'upload/upload_base.html' %}
{% block text %}
    <div class="entry">
        <p>The PDF Accessibility Project is focused on raising attention about inaccessible PDF documents.</p>
	<form action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
	{{message}}
	<br>
	<b>Upload your file here</b>
	<br>
	<br>
	<table>
		{{form.as_table}}
	</table>
	<br>
	<input type="submit" value="Submit"><input type="reset" value="Reset"></form>        
    </div>

{% endblock %}