{% extends 'base.html' %}

{% block title %}User - PDF Accessibilty Inspector{% endblock%}

{% block text %}
<ul id="tabnav">
	<li class="tab1"><a href="/accounts/profile/accountinfo/">Account Information</a></li>
	<li class="tab2"><a href="/accounts/profile/managerules/">Manage Rules</a></li>
	<li class="tab3"><a href="/accounts/profile/managereports/">Manage Reports</a></li>
	<li class="tab4"><a href="/upload/">Evaluate Document</a></li>
</ul>
<form action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
<table>
	{{form.as_table}}
</table>
<input type="submit" value="Submit"><input type="reset" value="Reset"></form>


{% endblock %}