ul.tree {
}
ul.tree, ul.tree ul {
  list-style: none;
  margin: 0;
  padding-left: 10px;
  font-weight: normal;
  background-color: white;
  color: black;
}

ul.tree li {
  margin-left: 10px;
}

ul.tree li.groupHeader {
  margin-left: 0px;
}

img.headerImg {
  margin-right: 5px;
}

li.focus {
  color: white;
  background: black;
} 

.tag-title {
  font-weight: bold;
}

.tag-table {
  border-collapse: collapse;
}
.tag-table tr th {
  text-align: center;
  border-bottom: 1px solid #000;
  padding-left: 2px;
  padding-right: 2px;
}
.tag-table tr td {
  vertical-align: top;
}

.tag-table tr:nth-child(even) td {
  background-color: #dfefff;
}
