html, body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #525252;
	height: 100%;
}
/* begin css tabs */

.offscreen {
	position: absolute;
	left: -300em;
	top: -30em;
}
ul#tabnav { /* general settings */
	text-align: center; /* set to left, right or center */
	margin: 0 0 0 0; /* set margins as desired */
	font: 14px Arial, Helvetica, sans-serif; /* set font as desired */
	border-bottom: 3px solid #525252; /* set border COLOR as desired current: #6c6*/
	list-style-type: none;
	list-style: none;
	padding: 6px 5px 6px 5px; /* THIRD number must change with respect to padding-top (X) below */
}
ul#tabnav li { /* do not change */
	display: inline;
}
body#tab1 li.tab1, body#tab2 li.tab2, body#tab3 li.tab3, body#tab4 li.tab4 { /* settings for selected tab */
	border-bottom: 1px solid #fff; /* set border color to page background color */
	background-color: #fff; /* set background color to match above border color */
}
body#tab1 li.tab1 a, body#tab2 li.tab2 a, body#tab3 li.tab3 a, body#tab4 li.tab4 a { /* settings for selected tab link */
	background-color: #000000; /* set selected tab background color as desired current: #fff*/
	color: #525252; /* set selected tab link color as desired */
	position: relative;
	top: 1px;
	padding-top: 10px; /* must change with respect to padding (X) above and below */
}
ul#tabnav li a { /* settings for all tab links */
	padding: 6px 10px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
	/*border: 1px solid #525252; /* set border COLOR as desired; usually matches border color specified in #tabnav */
	background-color: #FFFFFF; /* set unselected tab background color as desired */
	color: #000000; /* set unselected tab link color as desired current: #666*/
	margin-right: 8px; /* set additional spacing between tabs as desired */
	text-decoration: none;
	border-bottom: none;
}
ul#tabnav a:hover { /* settings for hover effect */
	background: #00598D;
	color: #FFFFFF;
}
ul#tabnav .current_page_item a {
	background: #00598D;
	color: #FFFFFF;
}
/* end css tabs */

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: black;
}
h1 {
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-size: 1.8em;
}
h2 {
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-size: 1.5em;
}
h3 {
	margin-top: 1em;
	margin-left: 1em;
	margin-bottom: 0.5em;
	font-size: 1.2em;
}
p, ul, ol {
	line-height: 100%;
}
a {
	text-decoration: none;
	color: #00598D;
}
a:hover {
	text-decoration: underline;
}
img.border {
	border: 6px solid #E1F1F6;
}
img.alignleft {
	float: left;
	margin-right: 25px;
}
img.alignright {
	float: right;
}
img.aligncenter {
	margin: 0px auto;
}
#wrapper {
	min-height: 100%;
}
/* Header */

#header {
	margin: 0 10%;
	padding: 0;
	width: 80%;
}
#logo {
	float: left;
	width: 100%;
	height: 3em;
	padding-bottom: 1em;
	margin-bottom: 0.5em;
}
#logo h1 {
	margin: 0;
	padding: 10px 0;
}
#logo h1 {
	width: 100%;
	display: block;
	float: left;
	letter-spacing: -1px;
	text-shadow: #FFFFFF -1px 1px 2px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 40px;
	color: #2D2722;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#logo img {
	vertical-align: text-bottom;
}
#logo a {
	text-decoration: none;
	color: #2D2722;
}
/* Menu */

#menu {
	margin: 1% auto;
	padding: 0;
	width: 80%;
}
#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}
#menu li {
	float: left;
}
#menu a {
	display: block;
	float: left;
	height: 30px;
	padding: 10px 30px 0px 30px;
	text-decoration: none;
	text-transform: lowercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #181818;
	border: none;
}
#menu a:hover {
	background-color: #cccccc;
}
#menu li.current_page_item {
	background: #00598D;
}
#menu .current_page_item a {
	background: #00598D;
	color: #FFFFFF;
}
#menu a:hover {
	background: #00598D;
	color: #FFFFFF;
}
/* Page */

#page {
	width: 80%;
	margin: 0 10%;
	padding-bottom: 5%;
	float: left;
}
/* Content */

#content {
	border-top: double;
	width: 100%;
	margin: 0;
}
#content div {
	width: 100%;
	float: left;
}
#content-inner {
	border-top: double;
}
/* Footer */

#footer-wrapper {
	bottom: 0;
	height: 12%;
	width: 100%;
	background: #2D2722;
	float: left;
}
#footer {
	clear: both;
	height: 12%;
	margin: 0px auto 0px auto;
	font-family: Arial, Helvetica, sans-serif;
}
#footer p {
	margin: 0;
	padding: 20px 0px 0px 0px;
	line-height: normal;
	font-size: 10px;
	text-align: center;
	color: #FFFFFF;
}
#footer a {
	color: #FFFFFF;
}
.node {
	border: 1px solid #000;
	width: 98%;
	margin: 4px;
	padding: 4px;
}
.n_0 {
	background-color: #eedd77;
}
.n_1 {
	background-color: #dd77ee;
}
.n_2 {
	background-color: #77eedd;
}
.n_3 {
	background-color: #ddee77;
}
.n_4 {
	background-color: #ee77dd;
}
.n_5 {
	background-color: #eedd77;
}
.n_6 {
	background-color: #dd77ee;
}
.n_7 {
	background-color: #77eedd;
}
.n_8 {
	background-color: #ddee77;
}
.n_9 {
	background-color: #ee77dd;
}
div.tag_summary {
	margin-bottom: 3em;
	margin-left: 2em;
}
div.tag_summary h3 {
	margin-left: 0;
}
/* Tables */
table th, td {
	text-align: left;
	padding-bottom: 10px;
}
table.tableview {
	margin: 1em;
	table-layout: fixed;
	border-collapse: collapse;
}
.tableview td {
	text-align: left;
}
.tableview th, .tableview caption {
	text-align: left;
	font-weight: bolder;
}
table.rules {
	margin: 1em 1em 1em 0;
	table-layout: fixed;
	color: black;
	width: 100%;
	border-collapse: collapse;
}
table.rules thead th {
	text-align: center;
	border-bottom: solid black thin;
}
table.rules tr {
	background: white;
}
table.rules tr.even {
	background: #dfefff;
}
table.rules tbody th {
	text-align: left;
	font-weight: normal;
	padding: 0.45em;
}
table.rules tbody td {
	overflow: hidden;
	text-align: center;
	padding: 0.45em;
}
table.summary tbody th {
	text-align: right;
	width: 10em;
	padding-right: .25em;
	font-weight: normal;
}
table.summary tbody td {
	text-align: right;
}
table.document {
	font-size: 120%;
	margin-left: 1em;
}
table.document tbody th {
	text-align: left;
	font-weight: normal;
}
table.document tbody td {
	text-align: left;
}
.mc {
	color: #E8A317;
	font-weight: bold;
	letter-spacing: .03em;
}
.p {
	color: black;
}
.v {
	color: #7E2217;
	font-weight: bold;
	letter-spacing: .03em;
}
.none {
	color: #222222;
	font-style: italic;
}
#content-inner form {
	margin-top: 1.5em;
	margin-left: 1em;
	font-size: 120%;
}
#content-inner form label {
	display: block;
	font-weight: bold;
	margin-right: 1em;
	font-size: 90%;
}
#content-inner form input[type='submit'], form textarea {
	display: block;
}