{% extends 'registration/reg_base.html' %}

{% block title %}Account Login - PDF Accessibilty Inspector{% endblock%}

{% block text %}

<h1>Account Login</h1>

<form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
<table>
	{{form.as_table}}
</table>
<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
<input type="hidden" name="next" value = "{{next}}" />
</form>

<p>
Don't have an account? <a href="/accounts/register/">Register here</a>!
</p>

<p>
Forgot your password? <a href="/accounts/password/reset/">Click here</a>!
</p>

{% endblock %}
