{% extends 'registration/reg_base.html' %}

{% block title %}Password Reset - PDF Accessibilty Inspector{% endblock%}

{% block text %} <h1>Reset Your Password</h1>
{% if validlink %}
<form action="." method="post">
	{% csrf_token %}
	<table>
	{{ form.as_table }}
	</table>
	<p>
	<input type="submit" text="Change Password" />
	</p>
</form>
{% else %} 
<h1>Password reset unsuccessful!</h1>
<p>
	The password reset link was invalid, possibly because it already has been
	used. Please repeat the process to obtain a new password-reset link.
</p>
{% endif %}
{% endblock %}