{% extends 'registration/reg_base.html' %}

{% block title %}Account - PDF Accessibilty Inspector{% endblock%}

{% block text %}
 

  {% if validlink %}
    <form action="." method="post">
      <ul>
      {% csrf_token %}
      {{ form.as_table }}
      <li>
        <input type="submit" text="Change Password" />
      </li>
      </ul>
    </form>
  {% else %}
    <h1>Password reset unsuccessful!</h1>
    <p>The password reset link was invalid, possibly because it already has been
      used. Please repeat the process to obtain a new password-reset link.</p>
  {% endif %}
{% endblock %}