{% extends 'base.html' %}
{% block navigation %}
			<li {% if currentPage = "home" or currentPage = "upload"   %}class="current_page_item"{% endif %}><span><a href="/upload/">Evaluate a PDF</a></span></li>		
			{% if auth = 'true' %}
			<li><a href="/accounts/logout/">Log-Out</a></li>
			{% else %}
			<li class="current_page_item"><a href="/accounts/login/">Log-In</a></li>
			{% endif %}			
			<li><a href="/about/">About</a></li>
			<!--<li {% if currentPage = "upload"  %}class="current_page_item"{% endif %}><a href="/upload/">Upload</a></li>-->
			<li><a href="/contact/">Contact</a></li>
{% endblock %}