<html>
  <head>
  </head>

  <body>
    <h1>Welcome to PdfAInspector</h1>
    {% if user.is_authenticated %}
    u are logged in <br />
    go <a href="app/index.html">here</a> to upload a pdf
    {% else %}
    <form method="post" action="app/login">
      {{ login }}
      <input type="submit" value="Login" />
    </form>
    
    Please register if you are a new user.
    <form method="post" action="">
    {{ registration }}
    <input type="submit" value="Register" />
  </form>
    {% endif %}
  </body>
</html>
