<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">-->
<!DOCTYPE html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="/static/style.css" />
		<link rel="stylesheet" href="/static/aria-treeview.css" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<title>{% block title %}PDF Accessibilty Inspector - DRES UIUC{% endblock%}</title>
	</head>
	<body>
		<div id="wrapper">
			<div class ="menu" role="navigation" aria-labelledby="main_nav">
				<h2 id="main_nav" class="offscreen">Main</h2>
				<ul>
					{% block navigation %}
					<li {% if currentPage = "upload"   %}class="current_page_item"{% endif %}>
						<span><a href="/upload/">Evaluate a PDF</a></span>
					</li>
					{% if auth %}
					<li {% if currentPage = "reports"   %}class="current_page_item"{% endif %}>
						<a href="/accounts/profile/managereports/">Reports</a>
					</li>
					<li {% if currentPage = "account"   %}class="current_page_item"{% endif %}>
						<a href="/accounts/profile/accountinfo/">Account</a>
					</li>
					<li>
						<a href="/accounts/logout/">Log-Out</a>
					</li>
					{% else %}
					<li>
						<a href="/accounts/login/">Log-In</a>
					</li>
					{% endif %}
					<li {% if currentPage = "about"   %}class="current_page_item"{% endif %}>
						<a href="/about/">About</a>
					</li>
					<li {% if currentPage = "contact" %}class="current_page_item"{% endif %}>
						<a href="/contact/">Contact</a>
					</li>
					{% endblock %}
				</ul>
			</div>
			<!-- end #menu -->
			<div id="header" role="banner">
				<div id="logo">
					<h1 id="title"><a href="/"> {% block header %} <img src="/static/images/black38.gif" alt="[Logo]"  style="float:left" height="40px" />&nbsp;pdf accessibility inspector
					{% endblock %} </a></h1>
				</div>
			</div>
			<!-- end #header -->
			<div id="page">
				<div id="content" role="main">
					{% block text %}

					{% endblock %}
				</div>
				<!-- end #content-->
			</div>
			<!-- end #page -->
		</div>
		<div id="footer-wrapper" role="contentinfo">
			<div id="footer">
				<p>
					Disabilities Resources &amp; Educational Services
				</p>
				<p>
					Copyright &copy; 2011 University of Illinois
				</p>
			</div>
			<!-- end #footer -->
		</div>
	</body>
</html>
