<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="/static/style.css" />

<title>{% block title %}PDF Accessibilty Inspector - DRES UIUC{% endblock%}</title>
</head>
<body>
<div id="wrapper">
	<div id="menu">
		<ul>
			{% block navigation %}
			<li {% if currentPage = "home"    %}class="current_page_item"{% endif %}><span><a href="/">Home</a></span></li>
			<li {% if currentPage = "about"   %}class="current_page_item"{% endif %}><a href="/about/">About</a></li>
			
			{% if auth = 'true' %}
			<li {% if currentPage = "userprofile"   %}class="current_page_item"{% endif %}><a href="/accounts/profile/">Profile</a></li>
			<li ><a href="/accounts/logout/">Log-Out</a></li>
			{% else %}
			<li {% if currentPage = "login"   %}class="current_page_item"{% endif %}><a href="/accounts/login/">Log-In</a></li>
			{% endif %}
			
			
			<li {% if currentPage = "upload"  %}class="current_page_item"{% endif %}><a href="/upload/">Upload</a></li>
			<li {% if currentPage = "contact" %}class="current_page_item"{% endif %}><a href="/contact/">Contact</a></li>
			{% endblock %}
		</ul>
	</div>
	<!-- end #menu -->
	<div id="header">
		<div id="logo">
			<h1><a href="#">pdf accessibility inspector</a></h1>
		</div>
	</div>
	<div id="splash">&nbsp;</div>
	<!-- end #header -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
				{% block text %}
					<div class="post">
						<h2 class="title"><a href="#">Purpose</a></h2>
						<div class="entry">
							<p>The PDF Accessibility Project is focused on raising attention about inaccessible PDF documents.</p>
						</div>
						
					</div>
					<div class="post">
						<h2 class="title"><a href="#">People</a></h2>
						<div class="entry">
							<p>The project is run by the Disabilities Resources and Educational Services group at the University of Illinois, Urbana-Champaign.</p>
						</div>
						
					</div>
					<div style="clear: both;">&nbsp;</div>
					{% endblock %}
				</div>
				<!-- end #content -->
				<div id="sidebar">
					<ul>
						<li>
							<h2>Purpose</h2>
							<p>The PDF Accessibility Project is focused on raising attention about inaccessible PDF documents.</p>
						</li>
						<li>
							<h2>People</h2>
							<p>The project is run by the Disabilities Resources and Educational Services group at the University of Illinois, Urbana-Champaign.</p>
						</li>
					</ul>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer-wrapper">

	<div id="footer">
		<p>Copyright &copy; 2011 University of Illinois</p>
	</div>
	<!-- end #footer -->
</div>
</body>
</html>
