{% extends 'userprofile/profile_base.html' %}

{% block title %}User - PDF Accessibilty Inspector{% endblock%}

{% block text %}
<b>Account information:<br><br></b>


	{% if username != " " %}
	USERNAME: {{ username }} <br>
	{% else %}
	USERNAME: this was a test <br>
	{% endif %}
	NAME: {{ first_name }} {{ last_name }}<br>
	EMAIL: {{ email }} <br>
	LAST LOGIN: {{ last_login }}<br>
	DATE JOINED: {{ date_joined }}<br>
<br>

<a href="/accounts/profile/change/">Change Account Settings</a>

{% endblock %}