{% extends "base.html" %}
{% block prof_nav %}
<div id="menu2">
	<ul>
		<li {% if currentPTab = "info"    %}class="current_page_item"{% endif %}><a href="/accounts/profile/accountinfo/">Profile</a></li>
		<li {% if currentPTab = "reports"   %}class="current_page_item"{% endif %}><a href="/accounts/profile/managereports/">Manage Reports</a></li>			
		<li {% if currentPTab = "rules"  %}class="current_page_item"{% endif %}><a href="/accounts/profile/managerules/">Manage Rules</a></li>
	</ul>
</div>

{% endblock %}