{% extends 'base.html' %}

{% block title %}Reports - PDF Accessibilty Inspector{% endblock%}

{% block text %}


{% if file_list|length == 0 %}
<p style="font-weight: bold;">
You currently have no reports. If you just uploaded a file, try refreshing the page.
</p>
{% else %}

<script language="JavaScript">
function toggle(source) {
  checkboxes = document.getElementsByType('checkbox');
  for(var i in checkboxes)
    checkboxes[i].checked = source.checked;
}
</script>

<p>
<h1>Reports</h1>
</p>
<form method="post" action=".">
<table class="fancy">
<tr>
	<th style="width:40px">
		<input type="checkbox" onClick="toggle(this)" />
	</th>
	<th>
		Title
	</th>
	<th>
		Notes
	</th>
</tr>
{% for file in file_list %}
	<tr>
		<td>
			<input type="checkbox" name="{{file.uid}}" />
		</td>
		<td>
			<a href="../../../reports/{{file.uid}}/">
			{{ file.title }}
			</a>
		</td>
		<td>
			{{file.notes}}
		</td>
	</tr>
{% empty %}
{% endfor %}
</table>
<a href="../../../reports/">Delete Selected</a>
</form>
(Try refreshing the page if you just uploaded a file and don't see it yet.)
{% endif %}
{% endblock %}