{% extends 'base.html' %}

{% block title %}User - PDF Accessibilty Inspector{% endblock%}

{% block text %}


{% if json_file_list|length == 0 %}
<b>You currently have no reports. If you just uploaded a file, try refreshing the page.</b>
{% else %}

<b>Following reports are available:</b>
<br><br>
<table class="fancy">
<tr>
	<th>
		Title
	</th>
	<th>
		Notes
	</th>
</tr>
{% for file in file_list %}
	<tr>
		<td>
			<a href="../../../reports/{{file.uid}}/">
			{{ file.title }}
			</a>
		</td>
		<td>
			{{file.notes}}
		</td>
	</tr>
{% empty %}
{% endfor %}
</table>
(Try refreshing the page if you just uploaded a file and don't see it yet.)
{% endif %}
{% endblock %}

