{% extends 'base.html' %}

{% block title %}User - PDF Accessibilty Inspector{% endblock%}

{% block text %}


{% if json_file_list|length == 0 %}
<b>You currently have no reports. If you just uploaded a file, try refreshing the page.</b>
{% else %}
<b>Reports are available for the following files:</b>

<br><br>
{% for file in json_file_list %}
	<ul>
		<li>
			<a href="/accounts/profile/reports/?f={{file}}">
			{{ file }}
			</a>
		</li>
	</ul>
{% empty %}
{% endfor %}

(Try refreshing the page if you just uploaded a file and don't see it yet.)
{% endif %}
{% endblock %}

