{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block main_content %}
<h1>PDF Accessibility Inspector</h1>

<div id="login" style="float:left">
<h2>Log In</h2>

{% if form.errors %}
<p class="error">Please correct the errors below:</p>
{% endif %}

<form method="post" action="?next={{ next|default:"pdf/" }}">
<dl>
<dt><label for="id_username">Username:</label>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}</dt>
<dd>{{ form.username }}</dd>
<dt><label for="id_password">Password:</label>{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}</dt>
<dd>{{ form.password }}</dd>
<dt><input type="submit" value="Log in" /></dt>
</dl>
</form>
</div>

<div id="signup" style="float:left; padding-left:10em;">
<h2>Sign Up</h2>
<p>If you don't have an account, you can <a href="/accounts/register/">sign
up</a> for one.
</div>
{% endblock %}
