<html>
  <head>
    <title>Report</title>
  </head>
  <body>

    <h1>Report</h1>
    Date Uploaded: {{ report.datestamp }} <br \>
    Uploaded By: {{ report.user }}
    <ol>
      {% for sectiondict in ruleset %}  
      <li> {{ sectiondict.section }} </li>
      <ol>
        {% for subsectiondict in sectiondict.subsections %}
        <li>{{ subsectiondict.section }}</li>
        <ol>
          {% for requirementdict in subsectiondict.requirements %}
          <li>
          {{ requirementdict.requirement }}
          <ol>
            {% for ruledict in requirementdict.rules %}
            <li>{{ ruledict.rule }}</li>
            <ol>
              {% for result in ruledict.results %}
              <li>{{ result }} </li>
              {% endfor %}
            </ol>
            {% endfor %}
          </ol>
          </li>
          {% endfor %}
          {% for subsubdict in subsectiondict.subsections %}
          <li>
          {{ subsubdict.section }}
          </li>
          {% endfor %}

        </ol>
        {% endfor %}
        {% for requirementdict in sectiondict.requirements %}
            {% for ruledict in requirementdict.rules %}
            <li>{{ ruledict.rule }}</li>
            <ol>
              {% for result in ruledict.results %}
              <li>{{ result }} </li>
              {% endfor %}
            </ol>
            {% endfor %}
                

        {% endfor %}
      </ol>
      {% endfor %}
    </ol>
  </ol>
</body>
</html>
