<html>
  <head>
    <title>Report</title>
  </head>
  <body>

    <h1>Report</h1>
    Date Uploaded: {{ report.datestamp }}
    <ol>
      {% for section in results %}

      <li>
      Title = {{ section.title }}<br />
      URL = {{ section.url }}<br />
      <!-- rules -->
      {% if section.ruleresults %}
      <ul>
        {% for (rule,result) in section.ruleresults %}
        <li>
        <a href="{{ rule.url}}">{{ rule.title }}</a><br />
        Result: {{  result.result }}
        Message: {{  result.message }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      <!-- end rules -->

      <!-- subsections -->
      {% if not sections.subsections %}
      {% load recurse %}
      <ol>
        {%  recurse subsection in section.subsections children="subsections" indent=(0,20) %}
        <li>
        Title = {{ subsection.title }}<br />
        URL = {{ subsection.url }}<br />

        <!-- rules -->
        {% if subsection.ruleresults %}
        <ul>
          {% for rule,result in subsection.ruleresults %}
          <li>
          <a href="{{ rule.url}}">{{ rule.title }}</a><br />
          Result: {{  result.result }} <br />
          Message: {{  result.message }}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
        <!-- end rules -->

        </li>
        {% endrecurse %}
      </ol>
      {% endif %}
      <!-- end subsections -->

      </li> 
      {% endfor %}
    </ol>

  </body>
</html>

<!--      

{% if section.ruleresults %}
<ul>
  {% for rule,result in ruleresults %}
  <li>
  <a href="{{ rule.url}}">{{ rule.title }}</a><br />
  Result: {{  result.result }}
  Message: {{  result.message }}
  </li>
  {% endfor %}
</ul>

{% endif %}
-->
